<%- include('partials/header') -%>
<h1>Home</h1>
<p><%=homeStartingContent%></p>
<%for(post in posts){%>
<h3><%=post%></h3>
<%var str = "/posts/"+post%>
<p><%=posts[post].substring(0,100)+"... "%><a href=<%=str.split(' ').join('<+>')%>>Read more</a></p>
<%}%>
<%- include('partials/footer') -%>
