<%- include('partials/header') -%>
<h1>Home</h1>
<p><%=homeStartingContent%></p>
<%for(post in posts){%>
<h3><%=posts[post]['title']%></h3>
<%var str = "/posts/"+posts[post]['_id']%>
<p><%=posts[post]['post'].substring(0,100)+"... "%><a href=<%=str%>>Read more</a></p>
<%}%>
<%- include('partials/footer') -%>
